<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="././static/main.css">
    <script src="https://kit.fontawesome.com/592e3a62fc.js" crossorigin="anonymous"></script>
    <title>Chaco Trivia!</title>
</head>
<body>
    <div class="padre">
        <header class="header">
            <div class="menu">
                <div class="logo">
                    <a href="index.html"><img src="img/Altavoz.png"></a>                 
                </div>
                <nav class="nav">
                    <a href="index.html"><i class="fas fa-home"></i>Inicio</a>
                    <a href="#"><i class="fas fa-users"></i>Nosotros</a>
                    <a href="#"><i class="fas fa-gamepad"></i>El Juego</a>
                    <a href="#"><i class="fas fa-chart-bar"></i>Estadisticas</a>
                    <a href="#"><i class="fas fa-envelope"></i>Contacto</a>
                </nav>
                <div class="social">
                    <div><a href="#"><i class="fab fa-instagram"></i></a></div>
                </div>
            </div>
        </header>
        <div class="principal">
            <div class="articulo">
                <div class="formulario">
                    <div class="textsalto">
                        <img src="img/chacotrivialogo.png">
                        <p> Pregunta 1</p></div>
                        <div class="pregresp">
                        <div class="pregunta">1. ¿El Chaco fue Territorio Nacional?<br />
                        </div>
                        <div class="respuestas">
                          <input type="radio" name="preg1" value="1" /> Sí<br />
                          <input type="radio" name="preg1" value="2" /> No<br />
                          <input type="radio" name="preg1" value="3" /> Ns/Nc<br />
                        </div>
                      </div>
                        
                        <div class="botonera">
                            <a href='#' class="boton">VERIFICAR</a>
                        </div>    
                        
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <nav class="pie">
                <a href="#">Desarrollado por Grupo 7</a>
            </nav>
        </footer>
    </div>
    
</body>
</html>