{% load static %}
{% if user.is_authenticated %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main.css'%}">
    <script src="https://kit.fontawesome.com/592e3a62fc.js" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;700&display=swap" rel="stylesheet">

    <title>Chaco Trivia!</title>
</head>
<body>
    <div class="backgroundimage"></div>
    <div class="padre">
        <header class="header">
            <div class="menu">
                <div class="logo">
                    <a href="{% url 'lobby' %}"><img src="{% static 'media/ChacoTrivia.png'%}"></a>                 
                </div>
                <nav class="nav">              
                    <a href="{% url 'lobby' %}"><i class="fas fa-home"></i>Inicio</a>
                    <a href="#"><i class="fas fa-users"></i>Nosotros</a>
                    <a href="#"><i class="fas fa-gamepad"></i>El Juego</a>
                    <a href="#"><i class="fas fa-chart-bar"></i>Estadisticas</a>
                    <a href="#"><i class="fas fa-envelope"></i>Contacto</a>
                </nav>
                <div class="social">
                    <div>
                        {% if user.is_authenticated %}
                            <a href="{% url 'logout' %}"><i class="fas fa-users"></i>{{ user.username }}:Salir</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </header>
        <div class="principal">
            <div class="articulo">
                <div class="formulario">
                    <div class="textsalto">
                        <script id="question" type="application/json">
                            {{ question|safe }}
                        </script>
                        <p id="númeroPregunta"></p>
                        <h3 id="categoría"></h3>
                        <h2 id="questionFormula"></h2>
                        <p id="timer"></p>
                        
                        <div class="respuestas">
                            <div class="columna1">
                                <p class="alturaBoton">
                                    <input id="boton1" type="button" name="respuesta_1" value="1" />
                                </p>
                                <p class="alturaBoton">
                                    <input id="boton2" type="button" name="respuesta_2" value="2" />
                                </p>
                                <p class="alturaBoton">
                                    <input id="boton3" type="button" name="respuesta_3" value="3" />
                                </p>
                            </div>
                            <div class="columna2">
                                <p class="alturaBoton" id="textoRespuesta1">
                                </p>
                                <p class="alturaBoton" id="textoRespuesta2">
                                   
                                </p>
                                <p class="alturaBoton" id="textoRespuesta3">
                                    
                                </p>
                            </div>
                        </div>
                    </div>
                        
                        <!-- <div class="respuestas">
                          <!-- <input type="radio" name="preg1" value="1" /> Sí<br />
                          <input type="radio" name="preg1" value="2" /> No<br />
                          <input type="radio" name="preg1" value="3" /> Ns/Nc<br />
                        </div>
                      </div>
                        
                        <div class="botonera">
                            <a href='#' class="boton">VERIFICAR</a>
                        </div>     -->
                        
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <nav class="pie">
                <a href="#">Desarrollado por Grupo 7</a>
            </nav>
        </footer>
    </div>
    <script src="{% static 'game.js' %}" crossorigin="anonymous"></script>
</body>
</html>
{% endif %}