{% include 'header.html' %}
{% load static %}
        <div class="principalPartida">
            <div class="partidaStats">
                <div class="textsalto">
                    <script id="question" type="application/json">
                        {{ question|safe }}
                    </script>

                    <p id="timer">Tiempo restante: 15</p>
                    <p class="stats" id="númeroPregunta"></p>
                    <p class="stats" id="categoría"></p>
                </div>
            </div>
        </div>

        <div class="principal">
            <div class="columna1">
                <div class="formulario">
                    <div class="respuestas">
                        <h2 id="questionFormula"></h2>
                    </div>
                </div>
            </div>
            <div class="columna2">
                <div class="formulario">
                    <div class="respuestas">
                        <p class="alturaBoton">
                            <input class="boton" id="botón1" onclick="selección(1)" type="button" name="respuesta_1" value="" />
                        </p>
                        <p class="alturaBoton">
                            <input class="boton" id="botón2" onclick="selección(2)" type="button" name="respuesta_2" value="" />
                        </p>
                        <p class="alturaBoton">
                            <input class="boton" id="botón3" onclick="selección(3)" type="button" name="respuesta_3" value="" />
                        </p>
                    </div>
                </div>
            </div> 
            <form id="result" action="/game/" method="post">
                {% csrf_token %}
                {{ form }}
            </form>    
        </div>    
        <div class="principalPartida">
            <div class="partidaStats">
                <div class="textsalto">
                    <p id="congrats"></p>
                </div>
            </div>
        </div>        
        <footer class="footer">
            <nav class="pie">
                <a href="#">Desarrollado por Grupo 7</a>
            </nav>
        </footer>
    </div>
    <script src="{% static 'game.js' %}" crossorigin="anonymous"></script>
</body>
</html>