{% include 'header.html' %}
{% load static %}
        <div class="principal">
            <div class="logogrande">
                <img src="{% static 'media/CHACO-TRIVIA.gif'%}" alt="Logo">
            </div>
            <div class="Bienvenida">
                <h1>Bienvenidos a ChacoTrivia!</h1>
                <p>{{ msg }}</p>
                <div class="botonera">
                    <a href="{% url 'register' %}" class="boton">Registrarse</a>
                </div>
                <div class="botonera">
                    <a href="{% url 'login' %}" class="boton">Iniciar Sesión!</a>
                </div>
                <div><p> Divertite a lo grande!</p></div>
            </div>
        </div>
        <div class="principal">
            <div class="eljuego">
                <div class="GloboCompetir"></div>
                <div class="eljuegotexto">
                    <div class="row">
                        <div class="iconsSizeDiv">
                            <i class="far fa-lightbulb iconsSize"></i>
                        </div>
                        <p>En este juego se pondrán a prueba tus conocimientos sobre la<strong>Provincia Chaco.</strong></p>
                    </div>

                    <div class="row">
                        <div class="iconsSizeDiv">
                            <i class="far fa-list-alt iconsSize"></i>
                        </div>
                        <p>Deberás contestar correctamente las preguntas con formato<strong>Multiple-Choice</strong>que te irán apareciendo,<strong>antes de que se termine el tiempo.</strong></p>
                    </div>
                </div>
            </div> 
        </div>
        <div class="principal">
            <div class="eljuego">
                <div class="GloboReglas"></div>
                <div class="eljuegotexto">
                    <div class="row">
                        <div class="iconsSizeDiv">
                            <i class="far fa-hourglass iconsSize"></i>
                        </div>
                        <p>Tienes<strong>15 segundos</strong>para responder cada pregunta.</p>
                    </div>
                    <div class="row">
                        <div class="iconsSizeDiv">
                            <i class="far fa-check-circle iconsSize"></i>
                        </div>
                        <p>Solo<strong>una respuesta</strong>por pregunta es correcta.</p>
                    </div>
                    <div class="row">
                        <div class="iconsSizeDiv">
                            <i class="far fa-times-circle iconsSize"></i>
                        </div>
                        <p>Survival:<strong>Un error terminará la partida.</strong>Responde correctamente la mayor cantidad posible.</p>
                    </div>
                </div>
            </div> 
        </div>
            
        <footer class="footer">
            <nav class="pie">
                <a href="#">Grupo 7 - Informatorio Chaco 2021</a>
            </nav>
        </footer>
    </div>
</body>
</html>
