{% include 'header.html' %}
{% load static %}
        <div class="principal">
            <div class="logogrande">
                <img src="{% static 'media/CHACO-TRIVIA.gif'%}" alt="Logo">
            </div>
            <div class="Bienvenida">
                <h1>Bienvenidos a ChacoTrivia!</h1>
                <p>{{ msg }}</p>
                <div class="botonera">
                    <a href="{% url 'register' %}" class="boton">Registrarse</a>
                </div>
                <div class="botonera">
                    <a href="{% url 'login' %}" class="boton">Iniciar Sesión!</a>
                </div>
                <div><p> Divertite a lo grande!</p></div>
            </div>
        </div>
        <div class="principal">
            <div class="eljuego">
                <div class="eljuegotexto">
                    <h1>¿Estás listo para competir?</h1>
                    <p>En este juego se pondra a prueba tus conocimientos sobre el Chaco actual y el antiguo, desde antes de ser Chaco hasta las ultimas novedades.
                    <p>El juego consiste en ir contestando correctamente las preguntas con formato multiple-choice que te irán apareciendo y deberás responder antes de que se termine el conteo.</p>
                    <p>tendrás preguntas sobre arte, historia, geografáa de Chaco y mucho más!</p>    
                </div>
                <div class="eljuegotexto">
                    <p> Desde la primer pregunta tendras que responder todo correcto, de lo contrario perderas y tendras que comenzar nuevamente desde el Nivel mas bajo!</p>
                    <p>Las preguntas tienen varias categorias y dificultad, mientras mas progreses las preguntas ira subiendo la dificultad y tu tiempo se acortara!!</p>
                    <p>Al estar registrado en la pagina pasas a formar parte del ranking por el cual podras competir con otros usuarios para ver quien sobrevivio mas tiempo!</p>
                    <p>Esperamos que disfrutes tu paso por este juego.</p> 
                </div>
            </div> 
        </div>

            
        <footer class="footer">
            <nav class="pie">
                <a href="#">Desarrollado por Grupo 7</a>
            </nav>
        </footer>
    </div>
</body>
</html>
