{% include 'header.html' %}
{% load static %}
        <div class="principal">
            <div class="logogrande">
                <img src="{% static 'media/CHACO-TRIVIA.gif'%}" alt="Logo">
            </div>
            <div class="Bienvenida">
                <h1>Bienvenidos a ChacoTrivia!</h1>
                <p>{{ result }}</p>
                <div class="botonera">
                    <a href="{% url 'game' %}" class="boton">Jugar!</a>
                </div>
                <div><p> Divertite a lo grande!</p></div>
            </div>    
            
        </div>
        <footer class="footer">
            <nav class="pie">
                <a href="#">Grupo 7 - Informatorio Chaco 2021</a>
            </nav>
        </footer>
    </div>
</body>
</html>