{% include 'header.html' %}
{% load static %}
        <div class="principal">
            <div class="articulo">
                <div class="formulario">
                    <div class="signup">
                        <div class="center">
                            <h2 class="form-title" id="login">Ingresar</h2>
                            <p> {{ alert }}</p>
                            <div class="form-holder">
                                <!-- FORMULARIO REGISTRO -->
                                <form action="/login/" method="post">
                                    {% csrf_token %}
                                    {{ form }}
                                    <div class="botonera">
                                        <input class="boton" type="submit" value="Ingresar">
                                    </div>
                                </form>
                                <!--  -->
                            </div>   
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <nav class="pie">
                <a href="#">Desarrollado por Grupo 7</a>
            </nav>
        </footer>
    </div>
    
</body>
</html>