{% include 'header.html' %}

{% load static %}
                <link rel="stylesheet" href="{% static 'ranking.css'%}">
                <div class="social">
                    <div><a href="#"><i class="fab fa-instagram"></i></a></div>
                </div>
            </div>
        </header>
        <div class="principal">
            <div class="articulo">
                <div class="wrapper">
                    <div id="rankingFondo" class="lboard_section">
                        <h1>Ranking</h1>                        
                        <div class="lboard_wrap">
                            <div class="lboard_item today">
                                <div id="tableHead" class="lboard_mem">
                                    <p class="puesto">Puesto</p>
                                    <div class="img">
                                    </div>
                                    <div class="name_bar">
                                        <p>Jugador</p>
                                    </div>
                                    <div class="points">
                                        Puntaje
                                    </div>
                                    <div class="date">
                                        Fecha
                                    </div>
                                </div>
                                {% for ranking in rank %}
                                <div class="lboard_mem">
                                    <p class="puesto">{{ forloop.counter }}</p>
                                    <div class="img">
                                        <img src="{% static 'media/OMG.png' %}">
                                    </div>
                                    <div class="name_bar">
                                        
                                        <p>{{ ranking.usuario }}</p>
                                    </div>
                                    <div class="points">
                                        {{ ranking.maximo }}
                                    </div>
                                    <div class="date">
                                        {{ ranking.fecha }}
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>	
            </div>
        </div>
        <footer class="footer">
            <nav class="pie">
                <a href="#">Grupo 7 - Informatorio Chaco 2021</a>
            </nav>
        </footer>
    </div>
</body>
</html>