{% include 'header.html' %}

{% load static %}
                <link rel="stylesheet" href="{% static 'ranking.css'%}">
                <div class="social">
                    <div><a href="#"><i class="fab fa-instagram"></i></a></div>
                </div>
            </div>
        </header>
        <div class="principal">
            <div class="articulo">
                <div class="wrapper">
                    <div class="lboard_section">
                        <h1>Ranking</h1>
                        <!-- <div class="lboard_tabs">
                            <div class="tabs">
                                <ul>
                                    <li class="active" data-li="today">Hoy</li>
                                    <li data-li="month">Mes</li>
                                    <li data-li="year">Año</li>
                                </ul>
                            </div>
                        </div> -->
                        
                        <div class="partidaStats lboard_wrap">
                            <div class="lboard_item today">
                                <div id="tableHead" class="lboard_mem">
                                    <p class="puesto">Puesto</p>
                                    <div class="img">
                                    </div>
                                    <div class="name_bar">
                                        <p>Jugador</p>
                                    </div>
                                    <div class="points">
                                        Puntaje
                                    </div>
                                    <div class="date">
                                        Fecha
                                    </div>
                                </div>
                                {% for ranking in rank %}
                                <div class="lboard_mem">
                                    <p class="puesto">{{ forloop.counter }}</p>
                                    <div class="img">
                                        <img src="{% static 'media/OMG.png' %}">
                                    </div>
                                    <div class="name_bar">
                                        
                                        <p>{{ ranking.usuario }}</p>
                                        <!-- <div class="bar_wrap">
                                            <div class="inner_bar" style="width: 95%"></div>
                                        </div> -->
                                    </div>
                                    <div class="points">
                                        {{ ranking.maximo }}
                                    </div>
                                    <div class="date">
                                        {{ ranking.fecha }}
                                    </div>
                                </div>
                                {% endfor %}
                            </div>

                            <!-- <div class="lboard_item month" style="display: block;">
                                <div class="lboard_mem">
                                    <div class="img">
                                        <img src="{% static 'media/Luciano Gusberti.jpg' %}">
                                    </div>
                                    <div class="name_bar">
                                        <p><span>1.</span> Alex Mike</p>
                                        <div class="bar_wrap">
                                            <div class="inner_bar" style="width: 95%"></div>
                                        </div>
                                    </div>
                                    <div class="points">
                                        1195 points
                                    </div>
                                </div>
                            </div>

                            <div class="lboard_item year" style="display: none;">
                                <div class="lboard_mem">
                                    <div class="img">
                                        <img src="{% static 'media/Luciano Gusberti.jpg' %}">
                                    </div>
                                    <div class="name_bar">
                                        <p><span>1.</span>Scarlett Angela</p>
                                        <div class="bar_wrap">
                                            <div class="inner_bar" style="width: 90%"></div>
                                        </div>
                                    </div>
                                    <div class="points">
                                        2195 points
                                    </div>
                                </div>
                            </div> -->


                        </div>
                    </div>
                </div>	
            </div>
        </div>
        <footer class="footer">
            <nav class="pie">
                <a href="#">Desarrollado por Grupo 7</a>
            </nav>
        </footer>
    </div>
    <!-- <script src="{% static 'ranking.js' %}" crossorigin="anonymous"></script>   -->
</body>
</html>