{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main.css'%}">
    <script src="https://kit.fontawesome.com/592e3a62fc.js" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;700&display=swap" rel="stylesheet">

    <title>Chaco Trivia!</title>
</head>
<body>
    <div class="backgroundimage"></div>
    <div class="padre">
        <header class="header">
            <div class="menu">
                <div class="logo">
                    <a href=""><img src="{% static 'media/ChacoTrivia.png'%}"></a>                 
                </div>
                <nav class="nav">
                    <a href="{% url 'index' %}"><i class="fas fa-home"></i>Inicio</a>
                    <a href="#"><i class="fas fa-users"></i>Nosotros</a>
                    <a href="#"><i class="fas fa-gamepad"></i>El Juego</a>
                    <a href="#"><i class="fas fa-chart-bar"></i>Estadisticas</a>
                    <a href="#"><i class="fas fa-envelope"></i>Contacto</a>
                </nav>
            </div>
        </header>
        <div class="principal">
            <div class="articulo">
                <div class="formulario">
                    <div class="signup">
                        <h2 class="form-title" id="signup">REGISTRATE!</h2>
                        <p>{{ msg }}</p>
                        <div class="form-holder">
                            <!-- FORMULARIO REGISTRO -->
                            <form action="/register/" method="post">
                                {% csrf_token %}
                                {{ form }}
                                <div class="botonera">
                                    <input class="boton" type="submit" value="Registrarse">
                                </div>
                            </form>
                            <!--  -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <nav class="pie">
                <a href="#">Desarrollado por Grupo 7</a>
            </nav>
        </footer>
    </div>
    
</body>
</html>