{% include 'header.html' %}
{% load static %}
        <div class="principal">
            <div class="articulo">
                <div class="formulario">
                    <div class="signup">
                        <h2 class="form-title" id="signup">REGISTRATE!</h2>
                        <p>{{ msg }}</p>
                        <div class="form-holder">
                            <!-- FORMULARIO REGISTRO -->
                            <form action="/register/" method="post">
                                {% csrf_token %}
                                {{ form }}
                                <div class="botonera">
                                    <input class="boton" type="submit" value="Registrarse">
                                </div>
                            </form>
                            <!--  -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <nav class="pie">
                <a href="#">Desarrollado por Grupo 7</a>
            </nav>
        </footer>
    </div>
    
</body>
</html>