{% load static %}


<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main.css'%}">
    <script src="https://kit.fontawesome.com/592e3a62fc.js" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;700&display=swap" rel="stylesheet">

    <title>Chaco Trivia!</title>
</head>
<body>
    <div class="padre">
        <header class="header">
            <div class="menu">
                <div class="logo">
                    <a href="{% url 'index' %}"><img src="{% static 'media/Altavoz.png'%}"></a>                 
                </div>
                <nav class="nav">
                    <a href="{% url 'index' %}"><i class="fas fa-home"></i>Inicio</a>
                    <a href="{% url 'us' %}"><i class="fas fa-users"></i>Nosotros</a>
                    <a href="#"><i class="fas fa-gamepad"></i>El Juego</a>
                    <a href="#"><i class="fas fa-chart-bar"></i>Estadisticas</a>
                    <a href="#"><i class="fas fa-envelope"></i>Contacto</a>
                </nav>
                <div class="social">
                    <div><a href="#"><i class="fab fa-instagram"></i></a></div>
                </div>
            </div>
        </header>
        <div class="principal">
            <div class="articulo">
                <div class="tituloequipo">
                    <h1>El Equipo</h1>
                </div>
                <div class="equipo">
                    <div class="contenedor">
                        <div class="avatar" style="background-image: url('img/joven1.jpg')"></div>
                        <div class="texto">
                            <h2>Pipo Machete</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis obcaecati asperiores sit facilis quod ipsum illum, alias velit itaque voluptatibus? Aut, quos. Exercitationem sint consequatur recusandae ut est facilis cupiditate!</p>
                        </div>                
                    </div>
                    <div class="contenedor">
                        <div class="avatar" style="background-image: url('img/joven2.jpg')"></div>
                        <div class="texto">
                            <h2>Carla Copiardi</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis obcaecati asperiores sit facilis quod ipsum illum, alias velit itaque voluptatibus? Aut, quos. Exercitationem sint consequatur recusandae ut est facilis cupiditate!</p>
                        </div>
                                        
                    </div>
                    <div class="contenedor">
                        <div class="avatar" style="background-image: url('img/joven1.jpg')"></div>
                        <div class="texto">
                            <h2>Cacho Estaffeti</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis obcaecati asperiores sit facilis quod ipsum illum, alias velit itaque voluptatibus? Aut, quos. Exercitationem sint consequatur recusandae ut est facilis cupiditate!</p>
                        </div>                
                    </div>
                    <div class="contenedor">
                        <div class="avatar" style="background-image: url('img/joven2.jpg')"></div>
                        <div class="texto">
                            <h2>Franca Mentira</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis obcaecati asperiores sit facilis quod ipsum illum, alias velit itaque voluptatibus? Aut, quos. Exercitationem sint consequatur recusandae ut est facilis cupiditate!</p>
                        </div>
                                        
                    </div>
                </div>    
                
                   
            </div>
        </div>
        <footer class="footer">
            <nav class="pie">
                <a href="#">Desarrollado por Grupo 7</a>
            </nav>
        </footer>
    </div>
    
</body>
</html>