{% include 'header.html' %}
{% load static %}
        <div class="backgroundimage"></div>
        <div class="principal">
            <div class="articulo">
                <div class="tituloequipo">
                    <h1>El Equipo</h1>
                </div>
                <div class="equipo">
                    <div class="contenedor">
                        <div class="avatar" id="LucianoGusberti"></div>
                        <div class="textoDesc">
                            <h2>Luciano Gusberti</h2>
                            <h4>Full Stack</h4>
                        </div>                
                    </div>
                    <div class="contenedor">
                        <div class="avatar" id="DanteAcuña"></div>
                        <div class="textoDesc">
                            <h2>Acuña Dante Adrian</h2>
                            <h4>Front End</h4>
                        </div>                
                    </div>
                    <div class="contenedor">
                        <div class="avatar" id="AlfredoRojas"></div>
                        <div class="textoDesc">
                            <h2>Rojas Raul Alfredo</h2>
                            <h4>Back End</h4>
                        </div>               
                    </div>
                    <div class="contenedor">
                        <div class="avatar" id="AbbaGabriel"></div>
                        <div class="textoDesc">
                            <h2>Abba Gabriel</h2>
                            <h4>Investigación y Base de Datos</h4>
                        </div>                
                    </div>
                    <div class="contenedor">
                        <div class="avatar" id="CastilloJuan"></div>
                        <div class="textoDesc">
                            <h2>Castillo Juan Fernando</h2>
                            <h4>Investigación y Base de Datos</h4>
                        </div>               
                    </div>
                    
                    <div class="contenedor">
                        <div class="avatar" id="ManderKarel"></div>
                        <div class="textoDesc">
                            <h2>Mander Karel</h2>
                            <h4>Maquetado</h4>
                        </div>               
                    </div>
                </div>    
                
                   
            </div>
        </div>
        <footer class="footer">
            <nav class="pie">
                <a href="#">Grupo 7 - Informatorio Chaco 2021</a>
            </nav>
        </footer>
    </div>
    
</body>
</html>