{% include 'header.html' %}
{% load static %}
        <div class="backgroundimage"></div>
        <div class="principal">
            <div class="articulo">
                <div class="tituloequipo">
                    <h1>El Equipo</h1>
                </div>
                <div class="equipo">
                    <div class="contenedor">
                        <div class="avatar" style="background-image: url({% static 'media/Luciano Gusberti.jpg' %})"></div>
                        <div class="textoDesc">
                            <h2>Luciano Gusberti</h2>
                            <h4>Full Stack</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis obcaecati asperiores sit facilis quod ipsum illum, alias velit itaque voluptatibus? Aut, quos. Exercitationem sint consequatur recusandae ut est facilis cupiditate!</p>
                        </div>                
                    </div>
                    <div class="contenedor">
                        <div class="avatar" style="background-image: url('img/joven2.jpg')"></div>
                        <div class="textoDesc">
                            <h2>Acuña Dante Adrian</h2>
                            <h4>Front End</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis obcaecati asperiores sit facilis quod ipsum illum, alias velit itaque voluptatibus? Aut, quos. Exercitationem sint consequatur recusandae ut est facilis cupiditate!</p>
                        </div>
                                        
                    </div>
                    <div class="contenedor">
                        <div class="avatar" style="background-image: url('img/joven1.jpg')"></div>
                        <div class="textoDesc">
                            <h2>Abba Gabriel</h2>
                            <h4>Investigación y Base de Datos</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis obcaecati asperiores sit facilis quod ipsum illum, alias velit itaque voluptatibus? Aut, quos. Exercitationem sint consequatur recusandae ut est facilis cupiditate!</p>
                        </div>                
                    </div>
                    <div class="contenedor">
                        <div class="avatar" style="background-image: url('img/joven2.jpg')"></div>
                        <div class="textoDesc">
                            <h2>Castillo Juan Fernando</h2>
                            <h4>Maquetado</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis obcaecati asperiores sit facilis quod ipsum illum, alias velit itaque voluptatibus? Aut, quos. Exercitationem sint consequatur recusandae ut est facilis cupiditate!</p>
                        </div>               
                    </div>
                    <div class="contenedor">
                        <div class="avatar" style="background-image: url('img/joven2.jpg')"></div>
                        <div class="textoDesc">
                            <h2>Rojas Raul Alfredo</h2>
                            <h4>Back End</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis obcaecati asperiores sit facilis quod ipsum illum, alias velit itaque voluptatibus? Aut, quos. Exercitationem sint consequatur recusandae ut est facilis cupiditate!</p>
                        </div>               
                    </div>
                </div>    
                
                   
            </div>
        </div>
        <footer class="footer">
            <nav class="pie">
                <a href="#">Desarrollado por Grupo 7</a>
            </nav>
        </footer>
    </div>
    
</body>
</html>