html{
    padding: 0;
}

*{
    margin: 0px;
    padding: 10px;
    box-sizing: border-box;
     
   }
body{
    padding: 0;
    background: #2D2B1F;
    background: -moz-linear-gradient(-45deg, #2D2B1F 0%, #000000 100%);
    background: -webkit-linear-gradient(-45deg, #2D2B1F 0%, #000000 100%);
    background: linear-gradient(135deg, #2D2B1F 0%, #000000 100%);
}
a{
    text-decoration: none;
}

iframe{
    padding: 0;
}

.padre{
    padding: 0;
    display: flex;
    flex-flow: column nowrap;
}    
.header {
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 10px;
    padding: 0;
    z-index: 150;
}
.menu{
    background: rgb(0, 0, 0, 1);
    display: flex;
    flex-flow: row nowrap;
    height: 50%;
    width: 50;
    align-items: center;
    font-family: 'Rubik', sans-serif;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    padding: 0;
    
}
.logo{
    height: 100%;
    flex:1 1 auto;
    
}
.logo img{
    width: 10%;
    margin-left: 15%
}

.avatarImg {
    max-width: 200px;
    max-height: 200px;
    box-shadow: 5px 5px 0 0 black;
    border-radius: 50%;
    padding: 0;
}
.avatarNav {
    max-width: 40px;
    max-height: 40px;
    border-radius: 50%;
    padding: 0;
}

.nav {
    display: flex;
    align-items: center;
    height: 100px;
    margin-right: 10%;
}

.nav a{
    color: #f9dc5c;
    font-size: 11px;
    text-transform: uppercase;
    padding: 0 10px;
    letter-spacing: 2px;
}
.nav a:hover{
    color: #fff;
}
.social {
    flex:1 1 auto;
}
.social a{
    font-size: 30px;
    color: #f9dc5c;
    padding: 0 5px;
}
.social a:hover{
    color: #fff;
}
.backgroundimage{
    animation: rotate 300s linear infinite;
    background: url('./media/fondoaltavoz.png') no-repeat center;
    position: fixed;
    display: block;
    height: 500vh;
    width: 500vh;
    z-index: 0;
    top: -200%;
    left: -95%;
}            
.principal { 
    background-color: #f9dc5c00;
    display: flex;
    width: 90%;
    height: 80%;
    margin: auto;
    margin-bottom: 0;
    border: 1px #2D2B1F;
    border-radius: 5px;
    justify-content: center;
    z-index: 100;
    overflow: hidden;
    
}
.principalPartida { 
    background-color: #f9dc5c00;
    display: block;
    width: 90%;
    height: 80%;
    margin: auto;
    margin-bottom: 0;
    border: 1px #2D2B1F;
    border-radius: 5px;
    justify-content: center;
    z-index: 100;
    overflow: hidden;
    
}

.respuestas {
    display: block;
    justify-content: center;
    font-size: 1em;
}
.puesto{
    background: #f1c711;
    width: 5%;
    height: 5%;
    color: #fff;
    text-align: center;
    font-weight: 900;
    border-radius: 3em;
    }    
.columna1{
    width: 500px;
    text-align: center;
}
    
.columna2{
    width: 500px;
    text-align: left;
}

.alturaBoton {
    height: 60px;
    align-items: center;
    padding: 0;
}

@keyframes rotate {
    to{ transform: rotate(360deg); }
    }

.logogrande{
    flex:1 1 50%;
    margin: auto;
    z-index: 100;
}
.logogrande img{
    width: 100%;                
}
.Bienvenida{
    background: url('./media/fondocontenedor.png');
    text-align: center;
    font-family: 'Rubik', sans-serif;
    box-shadow: 5px 5px 0px 5px #000000;
    color: #f1c711;
    width: 30%;
    margin-right: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
    z-index: 100;
    height: 500px;
}

.historialDiv{
    text-align: center;
    font-family: 'Rubik', sans-serif;
    color: #f1c711;
    width: 30%;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 100px;
    margin-right: 200px;
    border-radius: 10px;
    z-index: 100;
    height: 500px;
}

.historialDiv h1{
    color: white;
}

.scrollHist{
    text-align: center;
    font-family: 'Rubik', sans-serif;
    color: black;
    width: 100%;
    border-radius: 10px;
    z-index: 100;
    height: 400px;
    scroll-behavior: auto;
    scroll-behavior: smooth;
    overflow-y: scroll;;
}

.scrollHist::-webkit-scrollbar {
    display: none;
}

.historialPartidas{
    background: url('./media/fondocontenedor.png');
    text-align: center;
    font-family: 'Rubik', sans-serif;
    box-shadow: 5px 5px 0px 5px #000000;
    margin-bottom: 50px;
    width: 100%;
    border-radius: 10px;
    z-index: 100;
    display: flex;
    justify-content:space-between;
}

.overflow{
    overflow: hidden;
}

.historialAciertos{
    font-weight: 700;
}

.Bienvenida h1{
    font-size: 2em;
    margin-top: 50px;
    margin-bottom: 50px;
    text-shadow: 5px 5px 0px 5px #000000;
    
    
}
.boton{
    background: #333333;
    display: flex;
    flex: row;
    justify-content: center;
    color: #fff;
    text-transform: uppercase;
    border-width: 0;
    border-radius: 10px;
    width: 100%;
    z-index: 3000;
}
.boton:hover{
    font-weight: 700;
    background: #f1c711;
    color: #fff;
}
.botonVerMas{
    background: #333333;
    display: flex;
    flex: row;
    justify-content: center;
    color: #fff;
    text-transform: uppercase;
    border-width: 0;
    border-radius: 10px;
    z-index: 3000;
}
.botonVerMas:hover{
    font-weight: 700;
    background: #f1c711;
    color: #fff;
}
.Bienvenida p{
    margin-top: 20px;
    color: #2D2B1F;
    font-size: 20px;
}
.tituloequipo{
    color: #fff;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-size: large;

}
.equipo{
    display: flex;
}   
    
.textoDesc{
    background: url('./media/fondocontenedor.png');
    border-radius: 15px;
    border: #f9dc5c 1px solid;
    font-family: 'Roboto', sans-serif;
    box-shadow: 5px 5px 0px 5px #000000;
}
.contenedor{
    justify-content: center;
    flex-direction: row;
    margin-left: 5px;                
    margin-right: 5px;                
}
div.avatar {
    box-shadow: 5px 5px 0px 5px #000000;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    width: 250px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    background-size: 100% auto;
}
.formulario{
    background: url('./media/fondocontenedor.png');
    background-color: rgba(255, 255, 255);
    width: 100%;
    justify-content: right;
    align-items:flex-start;
    font-family: 'Rubik', sans-serif;
    border-radius: 15px;
    box-shadow: 5px 5px 0px 5px #000000;
}
.partidaStats{
    background: url('./media/fondocontenedor.png');
    background-color: rgba(255, 255, 255);
    width: auto;
    font-family: 'Rubik', sans-serif;
    border-radius: 15px;
    box-shadow: 5px 5px 0px 5px #000000;
}
.signup{
    border-radius: 10px;
    color: #f1c711;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
} 
.signup h2{
    font-size: 30px;
}
.form-holder{
    margin-bottom: 10px;
            }
.input{
    background: #ffffe4;
    width: 80%;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #f9dc5c;
}
.textsalto{
    font-size: 20px;
    text-align: center;
    color: #f1c711;
}
.textsalto img{
    width: 20%;
}
.botonera{
    display: flex;
    justify-content: center;
}
.img{
    justify-content: center;
    align-items: center;
    display: flex;
}                           
                
.footer{
    background-color: #000;
    display: flex;
    font-family: 'Rubik', sans-serif;
    width: 100%;
    border-radius: 10px;
    justify-content: center;
    z-index: 140;
}
.pie{
    
    width: 300px;
    
}
.pie a{
    text-decoration: none;
    color: #fff;
}

.stats{
    color: black;
}

.eljuego{
    display: flex;
    font-family: 'Rubik', sans-serif;
    width: 100%;
    border-radius: 10px;
    justify-content: center;
    z-index: 300;

    background: url('./media/fondocontenedor.png');
    font-family: 'Rubik', sans-serif;
    box-shadow: 5px 5px 0px 5px #000000;
    color: #f1c711;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
    z-index: 100;
}

.eljuegotexto{
    color: black;
}

#navProfile{
    border-left: 1px solid red;
}

#timer{
    font-size: 1.5em;
    background: #f62929;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    margin-left: 20%;
    margin-right: 20%;
    
}

#congrats{
    justify-content: center;
    display: none;
    z-index: 300;
    margin-left: auto;
    margin-right: auto;
}

#resumen{
    font-size: 3em;
    font-weight: 700;
    color: #f1c711;
}

#puntaje{
    font-size: 2em;
    font-weight: 700;
    background: #22c561;
    color: white;
    border-radius: 10px;
    margin-left: 20%;
    margin-right: 20%;
}
#pregunta{
    font-size: 1em;
    font-weight: 700;
    color: #f62929;
}
#númeroPregunta{
    font-weight: bold;
    font-size: 1.25em;
}
#questionFormula{
    font-weight: lighter;
    font-size: 1.5em;
}

#incorrecta{
    font-weight: lighter;
    font-size: 1em;
    color: #f62929;
}
#correcta{
    font-weight:bolder;
    font-size: 1em;
    color: #22c561;;
    border-radius: 10px;
    margin-left: 20%;
    margin-right: 20%;
}

#categoría{
    font-size: 1em;
    color: hsl(143, 64%, 44%);
    font-weight: bold

}

#result{
    display: none;
}

#LucianoGusberti{
    background-image: url('./media/Luciano Gusberti.jpg');
}
#DanteAcuña{
    background-image: url('./media/DanteAcuña.jpg');
}
#CastilloJuan{
    background-image: url('./media/CastilloJuan.jpg');
}
#AlfredoRojas{
    background-image: url('./media/AlfredoRojas.jpg');
}
#CastilloJuan{
    background-image: url('./media/CastilloJuan.jpg');
}
#AbbaGabriel{
    background-image: url('./media/AbbaGabriel.jpg');
}
#ManderKarel{
    background-image: url('./media/ManderKarel.jpg');
}

#facebookButton{
    z-index: 1000;
}

#myChart{
    z-index: 1001;
}

.shake {
    animation: shake-animation 3s ease;
    transform-origin: 50% 50%;
  }
  .element {
    margin: 0 auto;
    width: 150px;
    height: 150px;
    background: red;
  }
  @keyframes shake-animation {
     0% { transform:translate(0,0) }
    1.78571% { transform:translate(60px,0) }
    3.57143% { transform:translate(0,0) }
    5.35714% { transform:translate(30px,0) }
    7.14286% { transform:translate(0,0) }
    8.92857% { transform:translate(12px,0) }
    10.71429% { transform:translate(0,0) }
    100% { transform:translate(0,0) }
  }


@media all and (max-width: 1000px){
    .principal{
        flex-direction: column;
    }
    .menu {
        flex-direction: column;
        height: 50%;
    }
    .Bienvenida{
        width: 90%;
    }
    .Bienvenida h1{
        font-size: 1.5em;
    }
}
@media all and (max-width: 800px){
    .menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .Bienvenida{
        width: 90%;
        flex-direction: column;
        justify-content: center;
        font-size: small;
        text-align: center;
    }
}
@media all and (max-width: 400px){
    .logogrande{
        width: 70%;
    }
    .social{
        width: 80%;
    }
    .Bienvenida{
        width: 90%;
        flex-direction: column;
        justify-content: center;
        font-size: small;
        text-align: center;
    }
}